<div class="books_list">
  <h2 books__title-text>Books</h2>
  <ul class="books">
    <li *ngFor="let book of books">
      <p class="author-book" (click)="onSelectAuthor()">{{book.author}}</p> <p class="book__name" [class.selected]="book === selectedBook" (click)="onSelectBook(book)" >{{book.name}}</p>
    </li>
  </ul>
  <div>
    <button type="button" class="btn btn-primary" (click)="showAddBookForm()">Add new book</button>
  </div>
</div>

<app-new-book-form *ngIf='addingBook' (onAddNewBook)="addNewBook($event)"></app-new-book-form>

<app-book [book]="selectedBook"></app-book>

