<div class="book" *ngIf="book">
  <h2>{{book.name | uppercase}}</h2>
  <div><span>Author: </span><a href="#!">{{book.author}}</a></div>
  <div><span>Genre: </span><a href="#!">{{book.genre}}</a></div>
  <div><span>Summary: </span>{{book.summary}}</div>
  <button type="button" class="btn btn-info" (click)="showEditBookForm()">Edit book</button>
  <button type="button" class="btn btn-danger" (click)="removeBook(book)">Delete book</button>
  </div>


<app-edit-book *ngIf="isShowEdit" [book]="book" (onEditBook)="editBook($event)"></app-edit-book>

