<div class="author__list">
  <h2 class="author__name">
    Authors
  </h2>
  <ul class="authors">
    <li class="author-item" *ngFor="let author of authors">
      <p class="author" (click)="onSelectAuthor(author)" [class.selected]="author === selectedAuthor">{{author.name}}</p>
    </li>
    <div *ngIf="selectedAuthor" class="authors-table">
      <table class="authors-table">
        <tr>
          <th>Author</th>
          <th>Author's books</th>
        </tr>
        <td><p><a routerLink="/author/{{selectedAuthor.id}}">{{selectedAuthor.name}}</a></p></td>
        <td><p *ngFor="let book of selectedAuthor.books"><a routerLink="/book/{{book.id}}">{{book.name}}</a></p></td>
      </table>
    </div>
  </ul>
  <div>
    <button type="button" class="btn btn-primary" (click)="showAddAuthorForm()">Add new author</button>
  </div>
</div>

<app-new-author-form *ngIf="isAddingAuthor" (onAddNewAuthor)="addNewAuthor($event)"></app-new-author-form>

