.author__list {
  margin: 0 auto;
  text-align: center;
}

.authors {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  text-align: start;
  list-style-type: none;
}

.author-item {
  cursor: pointer;
  padding: 1em;
  margin: .6em;
  background-color: rgb(178, 206, 202);
  border-radius: 10px;
  width: 300px;
}

.author-item:hover {
  cursor: pointer;
  background-color: rgb(133, 161, 157);
}

.author {
  font-size: medium;
  font-weight: 500;
  color: #000;
}

.author:hover {
  color: white;
}

.author.selected {
  color: white;
}


.form-control {
  margin: 0 auto;
  width: 200px;
}

.authors-table {
  border-radius: 60px;
  border-spacing: 0;
  text-align: center;
  width: 300px;
  margin-left: 5px;
}

a {
  padding: 20px;
  text-decoration: none;
  color: #000;
}



th,
td:first-child {
  background: #416e6e;
  color: white;
  padding: 20px;
}

th,
td {
  border-style: solid;
  border-width: 0 2px 2px 0;
  border-color: white;
}

td {
  background: #D8E6F3;
}
